body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: #f8f8f8;
  color: #333;
  margin: 0;
  padding: 0;
}

header {
  padding: 20px;
  text-align: center;
}

h1 {
  margin-bottom: 0.3em;
}

#chart {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.bar {
  cursor: pointer;
}
